.battlefield {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    align-content: center;
    justify-content: center;
}

.status-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
}

.player-container {
    display: flex;
    flex-direction: column;
    /* width: 100px;
    height: 250px; */
    justify-content: space-between;
}


.player-one {
    background-image: url('./playerone.png');
    width: 200px;
    height: 200px;
    margin: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-two {
    background-image: url('./playertwo.png');
    width: 200px;
    height: 200px;
    margin: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.health-container {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: baseline;
    font-size: 10px;
}

.health-full {
    margin-right: 10px;
    margin-left: 80px;
}


